*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Tahoma, sans-serif;
    background-image: url(../img/bgBlure.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

a{
    text-decoration: none;
    position: relative;
}

.container{
    background-color: rgba(32,34,35,0.8);
    width: 70%;
    margin-right: 10%;
    margin-left: 15%;
    margin-top: 10%;
    height: 2000px;
    position: absolute;
}


#modal-window{
    position: fixed;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;

}

.modal-content{
    width: 30%;
    height: 20%;
    margin: 15% auto;
}









