*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url();
    font-family: Tahoma, sans-serif;
    background-image: url(../img/bgBlure.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

a{
    text-decoration: none;
    position: relative;
}

.container{
    background-color: #202223;
    opacity: 0.8;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 50%;
    height: 2000px;
    position: absolute;
}














