li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}


.header_inner{
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #202223;
    font-size: 20px;
    opacity: 0.8;
    z-index: 2;
}

nav{
    text-align: center;
}

.logo{
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 20px;

}


.nav_1{
    margin-left: 5%;
    width: 50%;
}

.nav_2{
    width: 20%;
    margin-right: 5%;
}

.header_inner nav ul li a{
    line-height: 50px;
    color: #AEAEAF;
}

.nav_1 ul li a::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    width: 100%;
    transition: all 0.4s;
    border-bottom: 1px solid #35C3D4;
    transform: scaleX(0);
    border-top: 1px solid #35C3D4;
}


.nav_1 ul li a:hover::before{
    transform: scaleX(1);
}

.nav_2 ul li a::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    width: 100%;
    transition: all 0.4s;
    border-bottom: 1px solid #35C3D4;
    transform: scaleX(0);
    border-top: 1px solid #35C3D4;
}


.nav_2 ul li a:hover::before{
    transform: scaleX(1);
}
.nav_2 ul li a:hover{
    color: #CA5ED6;
}

.nav_1 ul li a:hover{
    color: #CA5ED6;
}
